DATABASE_URL="mysql://root:password@localhost:3306/opdb_stattracker"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-with-openssl-rand-base64-32"
ADMIN_USERNAME="your-admin-username"
ADMIN_PASSWORD="your-admin-password"
